DB_HOST=database-1.cluster-c0zimei407hh.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=myapp_db
DB_USER=myapp_user
DB_PASS=nexthack-2026
AWS_REGION=us-east-1
PORT=8080
JWT_SECRET=secret
LOG_GROUP_NAME=/dummy-be/app
